@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #111111;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1px;
    color: #1C90EC;
    text-align: center;
    background-color: #222222;
    position: sticky;
    z-index: 10;
    top: 0;
}

::-webkit-scrollbar-track {
    background-color: #222222;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #1C90EC;
}